{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <script>
        var emptyHeart = "{% static 'network/emptyheart.png' %}";
        var heart = "{% static 'network/heart.png' %}";
    </script>
    <div id="post">
        <form id="post-post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" required="required" placeholder="How do you feel?" id="post-body"> 
            </div>
            <input id="post_it" type="submit" class="btn btn-primary"/>
        </form>
    </div>
    
    <div id="timeline">
        {% csrf_token %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/timeline.js' %}"></script>
{% endblock %}

 